.ibuffer {
  background-color: #eeeeee;
  padding: 0px;
  margin: 0px;
}

.ibuffer-list {
  width: auto;
}

.ibuffer-buffer {
  width: 90%;
}

.ibuffer-buffer-link {
  color: black;
  text-decoration: none;                
}                

.ibuffer-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -moz-binding: url("chrome://conkeror-gui/skin/default/ellipsis.xml#ellipsis");
}

.ibuffer-buffer-title {
  display: inline-block;
  /* border: 1px solid red; */
  width: 30%;
}

.ibuffer-buffer-size {
  display: inline-block;
  /* border: 1px solid yellow; */
  width: 5%;
  text-align: right;
}

.ibuffer-buffer-desc {
  display: inline-block;
  /* border: 1px solid yellow; */
  width: 40%;
  padding-left: 10px;
}
